.cuerpo{
    background-color: #f5ebd4;
}
.barradenavegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 70px;
    position: sticky;
    top: 0;
    animation-timeline: scroll();
    animation-range: 0 200 px;
    z-index: 10;
    background-color: #f5ebd4;
    border-bottom: 1px solid #a05c1c;
}
.logonav{
    height: 60px;
    width: 80px;
}
.nombremarca{
    padding-left: 10px;
}
.links{
    text-decoration: none;
    color: #935115;
    text-decoration: none;
    justify-content: space-between;
}
.links:hover{
    color: #a05c1c;
    text-decoration: underline;
}
.negrilla{
    font-weight: bold;
}
.logobuycar{
    height: 35px;
    width: 40px;
}
.marca{
    display: flex;
    align-items: center;
}
.subpaginas{
    display: flex;
    width: 400px;
    justify-content: space-between;
}
.buycar{
    padding: 20px;
}
.buscador{
    display: flex;
    justify-content: center;
    
}
.busca{
    margin-top: 30px;
}
.buscar{
    padding: 7px;
    width: 447px;
    border: 1px solid #5B3309;
    border-radius: 4px 0 0 4px;
}
.buscar::placeholder{
    border-radius: 4px 0 0 4px;
}
.botonbuscar{
    padding: 8px 12px;
    background-color: #5B3309;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
.botonbuscar:hover{
    background-color: #73410c;
}
.titulo{
    color: #5B3309;
    font-size: 40px;
    text-align: center;
    margin: 25px;
}
.productos{
    max-width: 1000px;
    margin: 0 auto;
    gap: 25px;
    display: grid;
    grid-template-areas:
    "producto_1 producto_2 producto_3"
    "producto_4 producto_5 producto_6"
    ;
}
.producto_1{
    border: 1px solid #531600;
    height: 500px;
    border-radius: 7px;
}
.producto_2{
    border: 1px solid #531600;
    height: 500px;
    border-radius: 7px;
}
.producto_3{
    border: 1px solid #531600;
    height: 500px;
    border-radius: 7px;
}
.producto_4{
    border: 1px solid #531600;
    height: 500px;
    border-radius: 7px;
}
.producto_5{
    border: 1px solid #531600;
    height: 500px;
    border-radius: 7px;
}
.producto_6{
    border: 1px solid #531600;
    height: 500px;
    border-radius: 7px;
}
.producto:hover{
    border: 1px solid #751f00;
    box-shadow: 0 3px 15px gray;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease;
    transform: scale(1.01);
}
.resolucion{    
    display: grid;
    place-items: center;
    height: 350px; 
}
.nombreproducto{
    color: #000000;
}
.precioproducto{
    color: #FF914D;
    font-size: 20px;
}
.imagenproducto{
    height: 300px;
    width: 250px;
}
.descripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.vermas{
    background-color: #714212;
    color: white;
    padding: 10px;
    border: 1px solid #000000;
    text-decoration: none;
    border-radius: 7px;
    width: 200px;
    text-align: center;
    
}
.vermas:hover{
    background-color: #884f17;
}
.vermas:visited{
    color: white;
}

.piedepagina{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    border-top: 1px solid #a05c1c;
}
.logo{
    height: 100px;
    width: 100px;
}
.parrafo_footer{
    width: 500px;
    text-align: center;
}
.imginsta{
    height: 45px;
    width: 45px;
}